.main_holder {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

#weather,
#cityy,
#country,
#temp {
    font-size: large;
    background-color: aquamarine;
    color: black;
}